@charset "utf-8";
/* CSS Document */

/* Table */
ul.peri-boxes
{
	margin: 0 auto;
	padding: 0;
}

ul.peri-boxes li
{
	width: auto;
	
	padding: 0;
	margin: 0px;
	list-style: none;
}

ul.peri-boxes li a
{
	width: auto;
	text-decoration: none;
	
	border: none;
	padding: 4px 16px 4px 16px;
}

ul.peri-boxes li a.box
{
	font-weight: bold;
	cursor: url(/highslide/graphics/zoomin.cur), pointer !important;
	
	position: relative;
	text-align: center;
	vertical-align: middle;
	
	/* border-radius */
	-webkit-border-radius: 20px 6px 20px 6px; /* Safari, Chrome, iOS */
	-moz-border-radius: 20px 6px 20px 6px; /* Firefox */
	border-radius: 20px 6px 20px 6px; /* CSS3 */
	/* /border-radius */
	
	/* transition */
	-webkit-transition: box-shadow 0.3s ease-in-out; /* Safari и Chrome */
	-moz-transition: box-shadow 0.3s ease-in-out; /* Firefox */
	-o-transition: box-shadow 0.3s ease-in-out; /* Opera */
	transition: box-shadow 0.3s ease-in-out; /* CSS3 */
	/* /transition */
}

ul.peri-boxes li a.box:hover
{
	color: white;
	
	z-index: 1;
	
	/* box-shadow */
	-webkit-box-shadow: inset 0 0 6px 1px #444444, 0 0 12px 2px #444444; /* Safari и Chrome */
	-moz-box-shadow: inset 0 0 6px 1px #444444, 0 0 12px 2px #444444; /* Firefox */
	box-shadow: inset 0 0 6px 1px #444444, 0 0 12px 2px #444444; /* CSS 3.0 */
	/* /box-shadow */
	
	/* background */
	background: -webkit-gradient(linear, 0 0, 0 90%, from(#999999), to(#000000)); /* Safari и Chrome */
	background: -moz-linear-gradient(top, #999999, #000000 90%); /* Firefox */
	background: -o-linear-gradient(top, #999999, #000000 90%); /* Opera */
	background: -ms-linear-gradient(top, #999999, #000000 90%); /* IE10 */
	background: linear-gradient(top, #999999, #000000 90%); /* CSS3 */
	/* /background */
	
	/* animation */
	/* Others */
	animation-name: boxPulse;
	animation-duration: .6s;
	animation-iteration-count: infinite;
	animation-delay: .12s;
	/* Safari and Chrome */
	-webkit-animation-name: boxPulse;
	-webkit-animation-duration: .6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .12s;
	/* /animation */
}
ul.peri-boxes li a.box:active
{
	color: #BEBEBE;
	
	/* transition */
	-webkit-transition: color 0.3s linear, box-shadow 0.3s ease-in-out; /* Safari и Chrome */
	-moz-transition: color 0.3s linear, box-shadow 0.3s ease-in-out; /* Firefox */
	-o-transition: color 0.3s linear, box-shadow 0.3s ease-in-out; /* Opera */
	transition: color 0.3s linear, box-shadow 0.3s ease-in-out; /* CSS3 */
	/* /transition */
}

@-webkit-keyframes boxPulse /* Safari and Chrome */
{
	from
	{
		width: 104%;
		height: 104%;
		right: 0;
		top: 0;
		
		-webkit-animation-timing-function: ease-out;
	}
	50%
	{
		width: 100%;
		height: 100%;
		top: 4px;
	}
	to
	{
		width: 104%;
		height: 104%;
		right: 0;
		top: 0;
		
		-webkit-animation-timing-function: ease-out;
	}
}

@keyframes boxPulse /* Others */
{
	from
	{
		width: 104%;
		height: 104%;
		right: 0;
		top: 0;
		
		animation-timing-function: ease-out;
	}
	50%
	{
		width: 100%;
		height: 100%;
		top: 4px;
	}
	to
	{
		width: 104%;
		height: 104%;
		right: 0;
		top: 0;
		
		animation-timing-function: ease-out;
	}
}
/* /Table */

/* Use: */
/*
	<ul class="peri-boxes">
        <li><a href="" class="box">наведите</a></li>
        <li><a href="" class="box">на</a></li>
        <li><a href="" class="box">каждый</a></li>
        <li><a href="" class="box">куб</a></li>
    </ul>
*/

